# static website
{$CADDY_DOMAIN_NAME} {
    root /home/olivaw/www
    # pull site automatically
    git github.com/BenTheElder/site {
        hook /git-hook-site {$CADDY_GIT_HOOK_KEY_SITE}
    }
    # use https and gzip
    tls {$CLOUDFLARE_EMAIL}
    tls {
        dns cloudflare
    }
    gzip
    # serve pages without extension
    ext .html
}

# no www
www.{$CADDY_DOMAIN_NAME} {
    redir https://{$CADDY_DOMAIN_NAME}
    tls {$CLOUDFLARE_EMAIL}
    tls {
        dns cloudflare
    }
}

